<!DOCTYPE html>
<html>

<head>

<title>
Asuransi Berjangka
</title>

<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h2>
Asuransi Berjangka
</h2>

<form method="POST">

<div class="mb-3">

<label>
Usia
</label>

<input
type="number"
name="usia"
class="form-control">

</div>

<div class="mb-3">

<label>
Suku Bunga
</label>

<input
type="text"
name="bunga"
class="form-control">

</div>

<div class="mb-3">

<label>
Masa Pertanggungan
</label>

<input
type="number"
name="tenor"
class="form-control">

</div>

<div class="mb-3">

<label>
Nilai Manfaat
</label>

<input
type="number"
name="manfaat"
class="form-control">

</div>

<button
class="btn btn-primary">

Hitung Premi

</button>

</form>

</div>

</body>
</html>